VIRTUAL_HOST=__domain__
LETSENCRYPT_HOST=__domain__
DB_URI=__db__
SOCKET_URI=__socket__
NODE_ENV=production
VIRTUAL_PORT=__port__
PORT=__port__
LETSENCRYPT_EMAIL=arancibiajav@gmail.com
PROJECT=__project__
DROPLET_ADMIN_URI=http://178.128.254.49:8083/