extends layout.pug
block content
	#app
		.row.no-gutters.fill-available
			.col-12
					.row
						.col-12
							label.SmallLabel Email
							input.SmallInput.form-control.email(value=user.email disabled)
						.col-12.mt-3
							label.SmallLabel Plan
							p(style="font-size:14px")!=user.plan.toUpperCase()
block sidebar
	include sidebar.pug
block scripts
	+scripts('account')