head

	title Blank

	link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
	link(rel='icon', href='/favicon.ico', type='image/x-icon')


	link(rel="stylesheet", 
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Open+Sans:300,400,600,700")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css')


body
	style(scoped).
		body{
			margin:0px;
			padding:0px;
			background-color:snow;
		}
		#app{
			padding-top:15px;
		}

		#editor{
			font-size: 12pt;
			min-width: 100%;
			min-height: 100vh;
		}
		.list-group-item span{
			font-size:12px;
		}
		.list-group-item span.tiny, textarea.tiny{
			font-size:8px;
		}
		textarea.tiny{
			height:25px;
		}
		.clipboard{
			width:100%;
			height:50px;
		}
		.clipboard, .clipboard:active,.clipboard:focus{
			background: #333;
			color: white;
			min-height: 350px;
		}
		.name{
			min-width:230px;
		}
		.search{
			max-height: 350px;
			overflow: scroll;
			transition: all .5s ease;
		}
		.search.active{
			position: fixed;
			z-index: 9999;
			top: 0;
			width: 250px;
			max-height: calc(100vh);
			background: white;
			overflow: scroll;
			left: 50%;
			margin-left: -125px;
		}
		.search-input{
			display: block;
			background: dimgrey;
		    border: 0px;
		    color: white;
		    font-size: 14px;
		}
		.search-input::placeholder{
			color:white;
		}
		.search.active .search-input{
			display: block;
		}
		.search .list-group-item{
		    padding: 10px;
			background: #333;
			color: white;
		    color
		    border-radius: 0px;
		    margin: 0px;
		    cursor: pointer;
		}
		.search .list-group-item, .search-input{
			border-top-left-radius: 0px!important;
		    border-top-right-radius: 0px!important;
		    border-bottom-left-radius: 0px!important;
		    border-bottom-right-radius: 0px!important;
		}
		
		#fileName{
			position: fixed;
		    top: 0px;
		    width: 100%;
		    left: 0px;
		    text-align: center;
		    color: white;
		    line-height: 15px;
		    font-size: 10px;
		    z-index: 99999;
		    background: #333;
		    margin: 0px;
		}
		#leftSidebar{
			margin-top:-15px;
			min-height: calc(100vh);
			position: fixed;
			width:230px;
			left:-230px;
			z-index: 999999;
			transition: all .5s ease;
			background-color:snow;
		}
		#leftSidebar.active{
			left:0px;
		}
		#rightSidebar{
			margin-top:-15px;
			min-height: calc(100vh);
			position: fixed;
			width:calc(50vw);
			right:calc(-50vw);
			z-index: 999999;
			transition: all .5s ease;
			background-color:snow;
		}
		#rightSidebar.active{
			right:0px;
		}
		footer{
			background-color:#333;
		}
		footer p {
			text-align: center;
			line-height: 50px;
			color:snow;
			font-size:12px;
		}
	#app
		#leftSidebar(ref="leftSidebar")
			button.btn.btn-primary.mx-auto.d-block.mt-2(@click="toggleLeftSidebar") Close (esc or cmd+shift+L)
			p.mt-3.p-2 Here you will be able to navigate though the editor features.
		#rightSidebar(ref="rightSidebar")
			button.btn.btn-primary.mx-auto.d-block.mt-2(@click="toggleRightSidebar") Close (esc or cmd+shift+P)
			p.mt-3.p-2 Here you will be able to preview your code.
		p#fileName(v-html="item.name")
		.row.no-gutters
			.col-12
				div#editor
		.row.no-gutters
			.col-12.col-lg-12.p-2.clearfix
				button.btn.btn-primary(@click="toggleLeftSidebar") LEFT (cmd+shift+L)
				button.btn.btn-primary.float-sm-right(@click="toggleRightSidebar") RIGHT (cmd+shift+P)
			.col-12.col-lg-12.p-2
				.row.no-gutters
					.col.mr-1
						button.btn.btn-primary.form-control.border-0(v-on:click="save",v-bind:disabled="!canSave")='Save (cmd+shift+s)'
					.col.mr-1
						input.form-control.name(v-model="item.name",placeholder="Name")
					.col.mr-1
						input.form-control(v-model="item.type",placeholder="Type")
					//-
						.col
							input.form-control(v-model="item.path",placeholder="Path")
					.col.mr-1
						button.btn.btn-primary.border-0.form-control(@click="newItem") Save and New (cmd+shift+k)
			.col-12.p-2
				h6 Public url
				textarea.tiny.form-control(disabled, v-html="resourceUrl")
			.col-12.p-2
				h6 Pug script tag
				textarea.tiny.form-control(disabled, v-html="'script(src=\"'+resourceUrl+'\")'")
			.col-12.col-lg-6.p-2
				h6 Clipboard
				textarea.form-control.clipboard(@keyup="saveClipboard",v-model="clipboard")
			.col-12.col-lg-6.p-2
				h6 Search (cmd+shift+o)
				.search(ref="searchModal")
					input.form-control.search-input(v-model="filter",ref="searchInput",placeholder="Filter")
					ul.list-group
						li.list-group-item(v-for="item,key in filteredItems" v-bind:key="key",@click="select(item)")
							span(v-html="item.name")
							span.tiny.d-block(v-html="item.type")
			.col-12.col-lg-6.p-2
				p You can format the code with cmd+shift+B				
				p To cancel and create a blank file press (cmd+shift+x)
				p Types are (javascript, vueComponent, route, view, function, middleware, schedule)
			.col-12
				footer
					p.m-0 Blank
		
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	script(async src="https://pro.fontawesome.com/releases/v5.0.8/js/all.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js")
	script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js")
	script(src="/js/common.js")
	script(src="/js/editor.js")
