head
	include ../app/views/dynamic/editor-mixins.pug
	+head()
	link(href='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css',rel="stylesheet")
	link(rel='stylesheet' href='/css/styles.css')
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css')
	script.
		var projects = JSON.parse(`!{JSON.stringify(projects||[])}`)
body
	#app
		+header()
		div(v-show="saveModal", style="display:none;")
			.modalOverlay(@click="()=>(saveModal=false)")
			.modalX.p-2
				.row.no-gutters
					.col-12.mt-2
						label Name
						input.form-control.name(v-model="item.name",placeholder="Name", ref="name")
					.col-12.mt-2
						label Type
						input.form-control(v-model="item.type",placeholder="Type")
					.col-12.mt-2
						h6.text-center Tags
						textarea.tiny.form-control(placeholder="middleware, forest-root", v-model="item.tags")
					.col-12.mt-5.mb-3
						button.btn.btn-primary.form-control.border-0(v-on:click="save",v-bind:disabled="!canSave")='Save'
						
		div(v-show="clipboardEnabled", style="display:none;")
			.modalOverlay(@click="()=>(clipboardEnabled=false)")
			.modalX
				.row.no-gutters
					.col-12.p-2
						h6.text-center Clipboard
						textarea.form-control.clipboard(@keyup="saveClipboard",v-model="clipboard")
		#rightSidebar(ref="rightSidebar")
			button.btn.btn-primary.mx-auto.d-block.mt-2(@click="toggleRightSidebar") Close (esc or cmd+shift+P)
			p.mt-3.p-2 Here you will be able to preview your code.
			button(@click="togglePreview") Run
			iframe#iframe(ref="previewIframe")

		p#fileName(v-html="item.name")
		.row.no-gutters
			.col-12.p-1
				a.float-right.link.btn.btn-outline-secondary.mr-2.ToolbarIcon(@click="()=>(clipboardEnabled=!clipboardEnabled)")
					.fa.fa-clipboard
				a.float-right.link.btn.btn-outline-secondary.mr-2.ToolbarIcon(@click="openClipboard")
					.fas.fa-share-square
						
		.row.no-gutters
			
			div(style="max-width:230px")
				#leftSidebar.active(ref="leftSidebar")
					+leftSidebar(projects)
			.col.w-100
				div#editor
				.row.no-gutters
					.col-12
						footer
							p.m-0 Backdit
			.search(ref="searchModal", style="display:none")
				input.form-control.search-input(v-model="filter",ref="searchInput",placeholder="Filter")
				ul.list-group
					li.list-group-item(v-for="item,key in filteredItems" v-bind:key="key",@click="select(item)")
						span(v-html="item.name")
						span.tiny.d-block(v-html="item.type")
			
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	script(async src="https://pro.fontawesome.com/releases/v5.0.8/js/all.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js")
	script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js")
	script(src="/js/common.js")
	script(src="/js/editor.js")
