include mixins.pug

+top('Manager')
body
	#app
		+nav()
		.row.no-gutters
			.col-12.mt-4.position-relative(@click="err=''")
				p.ShortErrorMessage(v-html="err" v-show="err")
			.col-12.mt-4.position-relative()
				pre.text-left(v-show="result")!="{{result | pretty}}"
			.col-12.p-5
				label Params
				input.form-control(placeholder="$user,true,0,1" v-model="params")
			.col-12.p-5
				h5.text-center Functions
				.row.no-gutters
					each fn,index in functions
						.col.p-2
							button.Button.btn.btn-primary.mx-auto.d-block(@click=`runFunction('${fn.name}')`)!=fn.name.split('.js').join('')
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-center
				.form.LoginForm()
					.row.position-relative
						.col-12.mt-3
							

						.col-12.mt-3
							h5.text-center Scripts
							

							button.Button.btn.btn-primary.mx-auto.d-block(@click="runAction('removeDuplicatedUsersFromProjects')") removeDuplicatedUsersFromProjects

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('ownAllProjects')") ownAllProjects

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('everyUserHasAtLeastOneOrganization')") 	everyUserHasAtLeastOneOrganization


							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('fixUserRights')") fixUserRights


							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('attachProjectsToOwners')") attachProjectsToOwners

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('syncUsersOrganizations')") syncUsersOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('numberOfOrganizations')") numberOfOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('relationOrganizationUsers')") relationOrganizationUsers

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('relationUserOrganizations')") relationUserOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('fixOrganizationUsersRights')") fixOrganizationUsersRights

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('ownAllFiles')") ownAllFiles
							

							
							
							
						

	+scripts('manager')
+bottom()