extends layout.pug
block content
	#app
		.row.no-gutters.fill-available
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-center
				.form.ProjectsForm.container
					.row.position-relative
						.col-12.mt-5
							label.SmallLabel Name
							input.SmallInput.form-control.email(v-model="item.name")
						.col-12.mt-4.position-relative()
							p.ShortErrorMessage(v-html="err" v-show="err")
						.col-12.mt-5
							button.Button.btn.btn-primary(:disabled="!ableToSave" @click="save") Save
block sidebar
	include sidebar.pug
block scripts
	+scripts('organization')