extends layout.pug
block content
	
	include tabs.pug
	+tabs(tabs)

	#app
		.row.no-gutters.fill-available
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-start
				.form.ProjectsForm.container
					.row.no-gutters.position-relative
						.col-12.mb-5
							#tabs
						.col-12.mb-3.pl-3(v-show="tab==='status'" v-cloak style="display:none;")
							.row.no-gutters
								.col-12
									p(v-html="nextRefreshInLabel")
							ul.list-group
								li.list-group-item(v-for="pr,key in all_projects")
									.row.no-gutters
										.col-6.d-flex.justify-content-left.align-items-center
											span(v-html="pr.label")
											span.StatusProjectName.ml-2(v-html="'('+pr.name+')'")
										.col.d-flex.justify-content-center.align-items-center.mt-1
													div.Checkbox(@click="pr.enabled=!pr.enabled" :checked="pr.enabled")
										.col-12(v-show="Object.keys(pr.domains).length===0")
											p.text-left No active urls
										.col-12.mt-1(v-show="Object.keys(pr.domains).length>0")
											.row.no-gutters(v-for="url,key in Object.keys(pr.domains)")
												.col-6.d-flex.justify-content-left.align-items-center.mt-1
													span.StatusProjectName(v-html="url")
												.col.d-flex.justify-content-center.align-items-center.mt-1
													div.Checkbox(readonly :checked="pr.domains[url]")

						.col-12.mb-3.pl-0(v-show="tab==='my_projects'")
							a.Button.btn.btn-primary(href="/projects/create") Create
						- if(projects.length>0)
							.row.no-gutters
								each pr, index in projects
									.col-12.col-md-6.col-lg-4
										.row.no-gutters
											.col-12.clearfix.NiceItem.clickable(@click=`rowClick('${pr._id}')` v-show="tab==='my_projects'")
												div.NiceItemIcon.float-left.d-flex.justify-content-left.align-items-center
													a(href=`/project/${pr._id}/edit` @click="stopPropagation($event)")
														.EditIcon
															i.fas.fa-edit
												div.d-flex.justify-content-left.align-items-center.float-left
													h4.NiceItemText.m-0.text-center.float-left!=`${pr.label}`
						- else
							.col-12.d-flex.justify-content-center.align-items-center(style="min-height:300px" v-show="tab==='my_projects'")
								h1.OrganizationsEmptyText Create your first project
block sidebar
	include sidebar.pug
block scripts
	+scripts('projects')