/*

almost white
    #f7f7f7
cremita
    #ebebeb
black
    #0a0a0a
*/

.fill-available {
    width: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
select,
label {
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
}

.tinyText{
    font-size:9px;
}

.ace_editor *{
    font:14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace!important;
}


.noverticalscroll {
    overflow-y: hidden !important;
}

.nodecoration:hover {
    text-decoration: none;
}

.hoveropacitydown:hover,
.hoveropacitydown:hover>* {
    opacity: 0.7;
}

.sidebarTitle {
    color: #adef9a;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: lighter;
    padding: 25px 0px;
    word-wrap: break-word;
}

.wrapper {
    display: flex;
    overflow-x: hidden !important;
}

.sidebar a:hover{
    text-decoration: none;
}

.sidebar {
    min-width: 230px;
    max-width: 230px;
    background: #243663;
    width: 230px;
    margin-left: -230px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    height: auto;
}


.sidebar.show {
    opacity: 1;
    margin-left: 0 !important;
}

.main-view {
    width: -webkit-fill-available;
    min-height: calc(100vh);
}

.sidebarLink {
	margin-bottom: 10px;
	cursor: pointer;
}

.sidebarLink.logout:hover {
	background-color: indianred;
}
.sidebarLink.logout:hover span {
    color:white;
}

.sidebarLink.active {
	background-color: #4f749c;
}
.sidebarLink:hover{
	color:white;
}

.sidebarLink i {
	margin-right: 15px !important;
}
.sidebarLink i, .sidebarLink span {
    color: #d8d2d2;
    opacity: 1;
    font-weight: 100;
    font-size: 16px;
}

.sidebarLink.active i, .sidebarLink:hover i, .sidebarLink:hover span, .sidebarLink.active span {
	opacity: 1;
	color: #fdfdfd;
}
