/*
#f7f7f7
#ebebeb
#0a0a0a
#e5b600
    almost white    
    cremita
    black
    dorado
*/

.ManagerOutput{
    font-size: 10px;
    display: block;
    max-height: 200px;
    font-family: monospace;
    overflow: scroll;
    font-weight: bold;
}
    

.Tree {}

.TreeCategory {
    font-weight: 900;
    font-size: small;
    text-transform: uppercase;
}

.TreeFile {
    cursor: pointer;
    margin-left: 5px;
    font-size: smaller;
    font-weight: 400;
    padding: 0px 15px;
}
.TreeFile:hover{
    background:#ebebeb;
    color:#0a0a0a;
}
.TreeFile[selected]{
    background:#ebebeb;
    color:#0a0a0a;   
}

.IconLink {
    cursor: pointer;
    color: #0a0a0a;
}

.IconLink:hover i {
    color: #e5b600;
}


.btn-danger:hover {
    color: #fff!important;
    background-color: #c82333!important;
    border-color: #bd2130!important;
}
.btn-danger {
    background-color: indianred!important;
    border-color: indianred!important;
    
}

.btn-primary:hover {
    color: #f7f7f7!important;
    background-color: #e5b600;
    border-color: #e5b600;
    cursor: pointer;
}
.btn-primary.focus, .btn-primary:focus {
    color: white!important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: dimgrey!important;
    background-color: lightgrey;
    border-color: lightgrey;
}


.jstree-default .jstree-icon:empty {
    opacity: 0.5;
}

.nav-tabs .nav-link {
    color: #0a0a0a;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0a0a0a;
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.coloredTitle {
    font-size: 24px;
    margin-top: 25px;
    color: #ebebeb;
}

.PluginItem {
    padding: 0.075rem 0.75rem;
}

.jstree-anchor:hover {
    color: indigo;
}

.btn-secondary:hover {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
}

.btn-secondary {
    color: #ebebeb;
    background-color: white;
    border-color: white;
}

.noty_theme__mint.noty_type__error {
    background-color: indianred;
    border-bottom: 1px solid indianred;
    color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
    background-color: #ebebeb;
    border-bottom: 1px solid #ebebeb;
    color: dimgrey;
}

.noty_theme__mint.noty_type__warning {
    background-color: limegreen;
    border-bottom: 1px solid limegreen;
    color: #fff;
}

.StatusProjectName {
    font-size: 9px;
}

.Checkbox {
    width: 50px;
    height: 25px;
    background-color: #333;
    position: relative;
    cursor: pointer;
}

.Checkbox::after {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0px;
    content: '';
    background-color: lightgrey;
    transition: all .35s ease-in-out;
}

.Checkbox[readonly] {
    cursor: not-allowed;
}

.Checkbox[readonly]::after {
    background-color: lightseagreen;
}

.Checkbox[checked]::after {
    left: 25px;
    background-color: limegreen;
}


#EditorConsole {
        position: fixed;
    bottom: 0px;
    left: 0px;
    width: calc(100vw);
    height: calc(80vh);
    background: #f7f7f7;
    z-index: 10;
}

#EditorConsoleTypeSelect {
    font-size: 20px;
    font-weight: 900;
    width: auto;
}

#EditorConsoleText {
        min-height: calc(100% - 54px);
    min-width: -webkit-fill-available;
    font-size: 12px;
    overflow: scroll;
}

textarea {
    min-height: 150px;
}

.RecentFiles {
    width: fit-content;
    position: fixed;
    right: 0px;
    height: fit-content;
    background-color: #f7f7f7;
    z-index: 9;
    top: 0px;
    color: #0a0a0a;
    overflow-y: scroll;
    min-height: calc(100vh);
    padding-bottom: 10px;
    padding-top: 0px;
    
    border-radius: 0px;
}

.RecentFiles:hover {
    opacity: 1;
}




.RecentFiles ul {
    margin: 0px;
    padding: 0px;
}

.RecentFiles li:hover {
    background: #ebebeb;
    color: #0a0a0a;
}

.RecentFiles li {
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 20px;
}

.RecentFiles li .type {
    font-weight: 100;
}

.RecentFile>span {
    font-size: 25px;
}

.RecentFiles .timeDifference {
    font-size: 15px;
}

ul {
    list-style: none;
}

.jstree-default .jstree-anchor {
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
}



.NavbarSelect {
    width: auto;
    min-width: 100px;
    max-width: 200px;
    top: 5px;
    position: relative;
    max-height: 35px;
}

.EditIcon {
    font-size: 12px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ebebeb;
    color: dimgrey;
    border-radius: 3px;
    padding-left: 2px;
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

.ProjectTree {
    height: auto;
    overflow: hidden;
}

.AccountStat {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 100;
    font-style: italic;
}

.OrganizationsEmptyText {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    opacity: 0.2;
}

.ProjectsForm,
.OrganizationsForm {
    border-radius: 5px;
    border: 0;
    min-height: 400px;
    box-shadow: none!important;
    padding-bottom: 50px;
}

.NiceItemText {
    color: dimgrey;
    padding: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: unset;
    text-transform: uppercase;
    position: relative;
    top: 3px;
}

.NiceItemIcon {
    min-height: 64px;
}

.NiceItemIcon,
.NiceItemIcon a {
    color: black;
    cursor: pointer;
}

.NiceItem:hover {
    background-color: #ebebeb;
}

.EditIcon:hover {
    background-color: #e5b600;
    color: #ebebeb;
}


.NiceItem:hover .NiceItemText,
.NiceItem:hover .NiceItemIcon a {
    color: #0a0a0a;
}

.ShortErrorMessage {
    text-align: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: indianred;
    font-size: 14px;
}



.LoginForm {
    max-width: 250px;
    max-height: 400px;
}


.FullscreenDiv {
    width: 100%;
    min-height: calc(100vh - 40px);
}

.NavButton {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    padding: 0px 5px;
    margin: 4px 0px;
    color: #0a0a0a!important;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: lighter;
}


.NavButton:hover,
.NavButton:not([href]):not([tabindex]):focus,
.NavButton:not([href]):not([tabindex]):hover {
    background: transparent;
    padding: 0px 5px;
    font-weight: 300;
}



.EditorHeader {
    background-color: #f7f7f7;
    color: white;
    width: -webkit-fill-available;
    position: relative;
    margin-top: 0px;
    transition: all .35s ease-in-out;
    padding: 0px 30px;
}



.EditorHeaderToggle {
    color: white;
    cursor: pointer;
    right: 20px;
    bottom: 0px;
    width: 20px;
    position: absolute;
    height: 20px;
    margin-bottom: -20px;
    background: #333;
    z-index: 9999;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}


.EditorHeader.hidden {
    margin-top: -40px;
}

.Button {
    padding: 5px 10px;
    font-size: 10px;
    font-weight: inherit;
    font-family: Roboto, sans-serif;
    border-color: indigo;
    color: #f7f7f7;
    background: indigo;
    min-width: 100px;
}

.NavbarSelect:focus,
.NavbarSelect:active,
.NavbarSelect:hover,
.NavButton:focus,
.NavButton:active,
.NavButton:hover,
.Button:focus,
.Button:active,
.Button:hover {
    outline: 0px;
    box-shadow: none;
    color: #0a0a0a;
}

.Button.FileIsDirty {
    font-weight: 800;
}

.SmallLabel {
    font-size: 10px;
    margin: 0px;
    margin-bottom: 1px;
    font-weight: bold;
}

.EmailListItem {
    padding: 10px;
    font-size: 14px;
}

.SmallInput {
    opacity: 0.5;
    font-family: Roboto-, sans-serif;
    font-size: small;
    font-weight: 100;
    padding: 10px;
    max-width: 350px;
    width: -webkit-fill-available;
    height: 35px!important;
}


.EditorState {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: fit-content;
    background: transparent;
    z-index: 9999;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px 0px 0px 0px;
}

.EditorStateText {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-weight: 200;
    color: white;
    font-size: 10px;
}

.HomeSearchResultUL {
    max-height: calc(100vh - 150px);
    overflow: scroll;
}

.HomeSearchResultLI {
    color: black;
    border-radius: 0px;
    border-top: 0px;
    cursor: pointer;
}

.HomeSearchResultTitle {
    font-family: Roboto, sans-serif;
    font-weight: inherit;
    font-size: 12px;
    text-transform: lowercase;
}

.HomeSearchResultType {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 10px;
    font-style: italic;
}

.HomeSearch {
    opacity: 1;
    border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-style: inherit;
}

.HomeSearch::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 10px;
    font-style: italic;
    opacity: 0.8;
}

.SmallInput:hover,
.SmallInput:active,
.SmallInput:focus,
.HomeSearch:hover,
.HomeSearch:active,
.HomeSearch:focus {
    box-shadow: none;
    outline: 0px;
    border-color: gainsboro;
    opacity: 1;
}

.HomeTitle:focus,
.HomeTitle:active,
.HomeTitle:hover {
    box-shadow: none;
    outline: 0px;
    border: 0px;
}

.HomeTitle {
    background-color: transparent;
    color: #e5b600;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    letter-spacing: 11px;
    position: relative;
    left: 3px;
    text-transform: uppercase;
    border: 0px;
    font-size: 20px;
    text-align: center;
}

.HomeTitleSub {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: x-small;
    color: #0a0a0a;
}


input {
    width: -webkit-fill-available;
}


#CodeEditorWrapper {

    transition: all .35s ease-in-out;
}

#CodeEditor {
    height: calc(100vh);
}

.EditorHeader.hidden+#CodeEditor {
    min-height: calc(100vh);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#MainLayout {
    background-color: dimgray;
    float: right;
    height: calc(100vh);
    width: calc(100vw - 230px);
    max-height: calc(100vh);
    overflow: scroll;
}


.ContentBox {
    margin: 10px 11px 5px 10px;
}


#SidebarLayout {
    background-color: #f7f7f7;
    color: black;
    width: 230px;
    float: left;
    height: calc(100vh);
    overflow-y: scroll;
    position: relative;
}

#dragbar {
    background-color: #ebebeb;
    height: calc(100vh + 37px);
    width: 3px;
    cursor: col-resize;
    position: absolute;
    right: 0px;
    border-radius: 0px;
}


#ghostbar {
    width: 3px;
    background-color: limegreen;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999
}