include mixins.pug

+top('Home')
body
	#app
		.clearfix
			#SidebarLayout
				#dragbar
				.ContentBox
					input.HomeTitle.text-center(v-model="project.label" placeholder="NOTITLE", disabled)
					p.HomeTitleSub.text-center(v-html="project.shortText")
					input.HomeSearch.form-control.mx-auto.d-block(v-model="searchText" placeholder="Search project files")
					ul.list-group.HomeSearchResultUL(style="display: none" v-show="searchResults.length>0")
						li.HomeSearchResultLI.list-group-item(v-for="item,key in searchResults" v-bind:key="item._id",@click="selectFile(item)")
							span.HomeSearchResultTitle(v-html="item.name")
							span.HomeSearchResultType.tiny.d-block(v-html="item.type")
					.FileDetails(v-cloak v-show="selectedFile && selectedFile._id", style="display: none")
						.row.no-gutters.mt-2
							.col-12.col-lg-6.mt-1
								label.SmallLabel Name
								input.SmallInput.form-control(v-model="selectedFile.name")
							.col-12.col-lg-6.mt-1
								label.SmallLabel Type
								select.SmallInput.form-control(v-model="selectedFile.type" @change="fileTypeChange")
									each item, index in fileTypes
										option(value=item)!=item
							.col-12.mt-1
								button.Button.btn.btn-primary(:disabled="!ableToSaveFile()",:class="selectedFileIsDirty?'FileIsDirty':''",@click="saveSelectedFile") Save
					.row.no-gutters
						.col-12.mt-3
							.tree.ProjectTree(ref="tree")
			#MainLayout
				+editorNav()
				#CodeEditor
		.EditorState
			p.EditorStateText(v-html="editorState")
	script.
		window.project = JSON.parse(`!{JSON.stringify(project)}`)
	+scripts('home')
	script.
		window.enableAutoResizeSidebar()
+bottom()