include mixins.pug

+top('Manager')
body
	#app
		+nav()
		.row.no-gutters
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-center
				.form.LoginForm()
					.row.position-relative
						.col-12.mt-3
							h5.text-center Scripts
							

							button.Button.btn.btn-primary.mx-auto.d-block(@click="runAction('removeDuplicatedUsersFromProjects')") removeDuplicatedUsersFromProjects

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('ownAllProjects')") ownAllProjects

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('everyUserHasAtLeastOneOrganization')") 	everyUserHasAtLeastOneOrganization


							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('fixUserRights')") fixUserRights


							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('attachProjectsToOwners')") attachProjectsToOwners

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('syncUsersOrganizations')") syncUsersOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('numberOfOrganizations')") numberOfOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('relationOrganizationUsers')") relationOrganizationUsers

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('relationUserOrganizations')") relationUserOrganizations

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('fixOrganizationUsersRights')") fixOrganizationUsersRights

							button.Button.btn.btn-primary.mx-auto.d-block.mt-2(@click="runAction('ownAllFiles')") ownAllFiles
							

							
							
							
						.col-12.mt-4.position-relative(@click="err=''")
							p.ShortErrorMessage(v-html="err" v-show="err")
						.col-12.mt-4.position-relative(@click="result=''")
							p.ShortErrorMessage(v-html="result" v-show="result")

	+scripts('manager')
+bottom()