extends layout.pug
block content
	#app
		.row.no-gutters.fill-available
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-center
				.form.ProjectsForm.container
					.row.no-gutters.position-relative
						.col-12.mb-3.pl-3
							a.Button.btn.btn-primary(href="/projects/create") Create
						- if(projects.length>0)
							each pr, index in projects
								.col-12.clearfix.NiceItem.clickable(@click=`rowClick('${pr._id}')`)
									div.NiceItemIcon.float-left.d-flex.justify-content-left.align-items-center
										a(href=`/project/${pr._id}/edit` @click="stopPropagation($event)")
											.EditIcon
												i.fas.fa-edit
									div.d-flex.justify-content-left.align-items-center.float-left
										h4.NiceItemText.m-0.text-center.float-left!=`${pr.label}`
						- else
							.col-12.d-flex.justify-content-center.align-items-center(style="min-height:300px")
								h1.OrganizationsEmptyText Create your first project
block sidebar
	include sidebar.pug
block scripts
	+scripts('projects')