extends layout.pug
block content

	include tabs.pug
	+tabs(tabs)

	#app
		.row.no-gutters.fill-available
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-start
				.form.ProjectsForm.container
					.row.position-relative
						.col-12.mb-5
							#tabs
						.col-12.d-flex.justify-content-left.align-items-center
							button.Button.btn.btn-primary(:disabled="!ableToSave" @click="save") Save
							a.Button.btn.btn-secondary.ml-2(:href="'/?projectId='+pr._id" v-show="pr._id") Editor
						.col-12.mt-5(v-show="tab==='users'")
							.row.no-gutters
								.col-12.mt-1(v-for="user,key in project.users" v-bind:key="user._id")
									ul.list-group
										li.list-group-item.EmailListItem(readonly v-html="user.email+' ('+project.usersRights[user._id]+')'")
							.row.no-gutters
								.col-12.mt-2
									input.form-control.SmallInput(v-model="newUserEmail" placeholder="johndoe@gmail.com")
								.col-12.mt-2
									select.form-control.SmallInput(v-model="newUserRole")
										option(value="developer") Developer
								.col-12.mt-3
									button.Button.btn.btn-primary(:disabled="!canAddUser" @click="addUser") Add
						.col-12(v-show="tab==='general'")
							.row.no-gutters
								.col-12.mt-5
									label.SmallLabel AppName (*) (You cannot change this once set)
									input.SmallInput.form-control.email(v-model="pr.name" v-bind:disabled="pr._id")
								.col-12.mt-3
									label.SmallLabel Free Custom domains (optional)
									input.SmallInput.form-control.email(v-model="pr.domain", placeholder="mysite.wrapkend.com")
									p.tinyText.m-0.mt-2 Multiple custom domains can be separated by comma: mysite.com,alternativedomain.com
									p.tinyText.m-0 Add DNS (A) Record targeting 178.128.254.49
									p.tinyText.m-0(v-html="defaultDomainMessage")
								.col-12.mt-3
									label.SmallLabel Public name (*)
									input.SmallInput.form-control.email(v-model="pr.label")
								.col-12.mt-3
									label.SmallLabel Brief description
									input.SmallInput.form-control.email(v-model="pr.shortText")
								.col-12.mt-3
									label.SmallLabel Enviromental variables
									textarea.SmallInput.form-control(v-model="envs")
								.col-12.mt-3
									label.SmallLabel API Key
									input.SmallInput.form-control.email(v-model="pr.privateKey" readonly)
								.col-12.mt-3
									label.SmallLabel.mb-3 Actions
									div
										button.btn.btn-primary(@click="setup") Setup
										p.tinyText.m-0.mt-1 This will install the project from the scratch and syncronize files.
									div.mt-2
										button.btn.btn-primary(@click="sync") Syncronize files
										p.tinyText.m-0.mt-1 This will only syncronize files.
									div.mt-2
										button.btn.btn-primary(@click="open") View
										p.tinyText.m-0.mt-1 Open public url in new tab. 
										p.tinyText.m-0.mt-1 Note: After Setup, the website needs several minutes to be released in the public url (xxxx.wrapkend.com).
								.col-12.mt-3
									label
										span.mr-1 State:
										span(v-cloak v-html="state")
						
						.col-12.mt-4.position-relative()
							p.ShortErrorMessage(v-html="err" v-show="err")
						
block sidebar
	include sidebar.pug
block scripts
	script.
		window.server = JSON.parse(`!{JSON.stringify(server||{})}`)
		window.project = JSON.parse(`!{JSON.stringify(project)}`)
	+scripts('project')