extends layout.pug
block content
	#app
		.row.no-gutters.fill-available
			.col-12.FullscreenDiv.d-flex.justify-content-center.align-items-center
				.form.ProjectsForm.container
					.row.position-relative
						.col-12
							a.Button.btn.btn-primary(:href="'/?projectId='+pr._id" v-show="pr._id") Editor
						.col-12.mt-5
							label.SmallLabel AppName (*) (You cannot change this once set)
							input.SmallInput.form-control.email(v-model="pr.name" v-bind:disabled="pr._id")
						.col-12.mt-3
							label.SmallLabel Free Custom domains (optional)
							input.SmallInput.form-control.email(v-model="pr.domain", placeholder="mysite.wrapkend.com")
							p.tinyText.m-0.mt-2 Multiple custom domains can be separated by comma: mysite.com,alternativedomain.com
							p.tinyText.m-0 Add DNS (A) Record targeting 178.128.254.49
							p.tinyText.m-0(v-html="defaultDomainMessage")
						.col-12.mt-3
							label.SmallLabel Public name (*)
							input.SmallInput.form-control.email(v-model="pr.label")
						.col-12.mt-3
							label.SmallLabel Brief description
							input.SmallInput.form-control.email(v-model="pr.shortText")
						.col-12.mt-3
							label.SmallLabel Enviromental variables
							textarea.SmallInput.form-control(v-model="envs")
						.col-12.mt-3
							label.SmallLabel API Key
							input.SmallInput.form-control.email(v-model="pr.privateKey" readonly)
						.col-12.mt-3
							label.SmallLabel.mb-3 Actions
							div
								button.btn.btn-primary(@click="setup") Setup
								p.tinyText.m-0 This will install the project from the scratch and syncronize files.
							div.mt-2
								button.btn.btn-primary(@click="sync") Syncronize files
								p.tinyText.m-0 This will only syncronize files.
							div.mt-2
								button.btn.btn-primary(@click="open") View
								p.tinyText.m-0 Open public url in new tab.
						.col-12.mt-4.position-relative()
							p.ShortErrorMessage(v-html="err" v-show="err")
						.col-12.mt-5
							button.Button.btn.btn-primary(:disabled="!ableToSave" @click="save") Save
block sidebar
	include sidebar.pug
block scripts
	script.
		window.server = JSON.parse(`!{JSON.stringify(server||{})}`)
		window.project = JSON.parse(`!{JSON.stringify(project)}`)
	+scripts('project')